streamlit
streamlit-authenticator
extra-streamlit-components
markdownlit
matplotlib
numerize
numpy
openpyxl
pandas
plotly
requests
scipy
seaborn
streamlit-card
streamlit-extras
streamlit-keyup
streamlit-option-menu
